.profile-card {
    position: absolute;
    top: 55px;
    right:10px;
    width: 300px;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.edit-btn {
    /* background-color: #333; */
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.pfp img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}
.name {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: -5px;
}
.class {
    /* background-color: #ab0fca; */
    font-size: 1em;
    color: #e0e0e0;
    margin-bottom: 10px;
    text-align: center;
}
.roles {
    /* width: 100%;
    /* background-color: aquamarine; */
   /* margin-bottom: 15px; */
    /* flex-direction: column; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}
.role {
    display: inline;
    /* background-color: #bc51c6; */
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.6em;

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.level-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.level {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 4px;
    /* background-color: beige; */
    text-align: left;
}
.exp-bar {
    width: 100%;
    height: 15px;
    background-color: #ccc;
    border-radius: 7.5px;
    overflow: hidden;
}
.exp-bar::after {
    content: '';
    display: block;
    width: 70%; /* Example progress */
    height: 100%;
    background-color: #4caf50;
}
